<h1>Datos de Contacto</h1>
<ul>
    {{#each contacto}}
        <li>Nombre: {{this.nombre}} | Email: {{this.email}} | Teléfono: {{this.telefono}}</li>
    {{/each}}
</ul>

<p><a href="/">Volver al inicio</a></p>
