<h1>Datos de Contacto</h1>
<ul>
    {{#each contacto}}
        <li>Nombre: {{this.nombre}} {{this.apellido}}| Email: {{this.contacto_usuario}}</li>
    {{/each}}
</ul>

<p><a href="/">Volver al inicio</a></p>
