<h1>Datos de Contacto</h1>
<ul>
    {{#each trabajos}}
        <li>Nombre: {{this.titulo}} | Descripción: {{this.descripcion}} | Empresa: {{this.Empresa}} | Tecnologías: {{this.Tecnologias}}</li>
    {{/each}}
</ul>

<p><a href="/">Volver al inicio</a></p>
