<h1>Trabajos realizados</h1>
<ul>
    {{#each trabajos}}
    <li>
        <h3>{{this.Trabajo}}</h3>
        <p>{{this.Descripcion}}</p>
        <p>Empresa: {{this.Empresa}}</p>
        <p>Tecnologías: {{this.Tecnologias}}</p>

    </li>

    {{/each}}
</ul>

<p><a href="/">Volver al inicio</a></p>