
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #2C3E50;
    text-align: center;
}

.tarjeta {
    display: flex;
    flex-direction: row;

}

.imagen > img {
    width: 100px;
    height: 120px;
    object-fit: cover; /* Ajusta la imagen sin deformarla, rellenando el contenedor */
    overflow: hidden;
    display: block; /* Opcional: evita que las imágenes generen un pequeño espacio debajo */
    object-position: top; /* Muestra la parte superior de la imagen */
}

.informacion {
    margin-left: 20px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Encabezado */
header {
    background-color: #3498db;
    padding: 20px;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Estilo para las tarjetas de los miembros */
.member-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    text-align: center;
}

.member-card h3 {
    color: #2C3E50;
}

.member-card p {
    color: #7f8c8d;
}

/* Pie de página */
footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer a {
    color: #ecf0f1;
}

footer a:hover {
    text-decoration: underline;
}
